.flat-table{
    /*display: block;*/
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 115%;
    overflow: auto;
    width: 100%;
}

th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
}
td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
    text-align:center;
}

body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IjFi-wx/moving-stars-on-black-black-background_v15aai_9__F0000.png");
}


body {background-color: MediumSlateBlue;}
h1 {background-color:darkgray;}
/*ul {color: yellow;}*/
a {color: green;}
a:hover {color: pink;}

h1 {text-align: center;}




h2 {color: red;}
p{color:blue;}

h1 {font-size: 80px;}

body {font-family: "Comic Sans MS";}

