<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/addlostitem.css">
    <link rel="stylesheet" href="css/addlostitem.css">
    <link rel="stylesheet" href="css/navbarstylesheet.css">
    <link rel="stylesheet" href="../static/css/navbarstylesheet.css">


</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
    <form  id = "contact"  th:action="@{/showadminaddeditems}"  th:object="${lostitem}" method="post">

        <h4>Lost Item information</h4>
        <input type="hidden" th:field="*{id}"/>

        <fieldset>
            <input placeholder="image" type="text" th:field="*{image}" tabindex="1">
        </fieldset>
        <fieldset>
            <input placeholder="title" type="text" th:field="*{title}" tabindex="2">
        </fieldset>
        <h4>Category</h4>
        <select th:field="*{category}" name="category">
            <option value="Clothes">Clothes</option>
            <option value="Pets">Pets</option>
            <option value="Other">Other</option>
        </select>

        <fieldset>
            <textarea placeholder="type description here...." th:field="*{description}" tabindex="5"></textarea>
        </fieldset>
        <fieldset>
            <input placeholder="status" type="text" th:field="*{status}" tabindex="3">
        </fieldset>
        <label>Select a User</label>

            <select id="users" name="loggedinuser" class="selectpicker">
                <option th:each="appuser : ${loggedinusers}"
                        th:value="${appuser.id}"
                        th:text="${appuser.getUsername()}" selected="selected"></option>
            </select>



        <fieldset>
            <button type="submit" id="contact-submit"  data-submit="...Sending">Submit</button>
        </fieldset>
    </form>


</div>
<div th:replace="base :: js"></div>
</body>
</html>