<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/navbarstylesheet.css">
    <link rel="stylesheet" href="css/loginstylesheet.css">
    <link rel="stylesheet" href="css/navbarstylesheet.css">
    <link rel="stylesheet" href="css/regstylesheet.css">
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
<div th:fragment="navlinks">
<ul class="nav">

    <li class="search"><form id="searchbar" class="nav-link" th:action="@{/searchlostitem}" th:object="${lostitem}" method="post">
        <input type="text" name="search"/>
    </form>
    </li>
    <li sec:authorize="hasAnyAuthority('USER','ADMIN')" class="navItem"><a th:href="@{/}">public List</a></li>
    <li sec:authorize="hasAuthority('ADMIN')" class="navItem"><a th:href="@{/adminlist}">Admin list</a></li>
    <li  sec:authorize="hasAuthority('USER')" class="navItem"><a th:href="@{/addlostitem}">Add lost item</a></li>
    <li  sec:authorize="hasAuthority('ADMIN')" class="navItem"><a th:href="@{/adminaddforuser}">Add lost  item as admin</a></li>
    <li sec:authorize="hasAuthority('USER')" class="navItem"><a th:href="@{/mylist}">My List</a></li>
    <li class="navItem"><a th:href="@{/login}">Sign in</a></li>
    <li sec:authorize="hasAnyAuthority('USER','ADMIN')" class="navItem"><a th:href="@{/logout}">Sign out</a></li>
</ul>

</div>





<div th:fragment="js">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
</body>
</html>