<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-sringsecurity">
<head>
    <title>World News</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/indexstylesheet.css">
    <link rel="stylesheet" href="css/indexstylesheet.css">


</head>
<body>
<div class="container" th:fragment="navbar">
    <div class="header">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 header-logo">
                <h1>World News</h1>
                <hr>
            </div>
            <div class="col-md-3 header-search">
                <i class="fa fa-search"></i>

            </div>
            <div class="col-md-12 header-date">
                March 3,2018
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 header-nav">
                <a href="/" class="header-link">Home</a>
                <a href="#" class="header-link">Politics</a>
                <a href="#" class="header-link">Sport</a>
                <a th:href="@{/entertainment}" class="header-link">Entertainment</a>
                <a href="#" class="header-link">Business</a>
                <a href="#" class="header-link">US News</a>
                <a th:href="@{/selectcategory}" class="header-link">Topics</a>
                <a th:href="@{/login}" class="header-link">Login</a>
            </div>
            <hr>
        </div>
    </div>
    <div align="center">
    <div th:each="article: ${article}">
        <h3  th:text="${article.title}"></h3><br/>
        <img th:src="${article.urlToImage}" width="300" height="300"></br>
        <h5 th:text="${article.author}"></h5><br/>
        <p th:text="${article.description}"></p><br/>
        <a th:text="${article.url}"></a><br/>
        <span  th:text="${article.publishedAt}"></span>



    </div>
    </div>
</div>
</body>
</html>