<html>
<head>
    <title>The New York Times</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/indexstylesheet.css">
    <link rel="stylesheet" href="css/indexstylesheet.css">


</head>
<body>
<div class="container">
    <div class="header">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 header-logo">
                <h1>World News</h1>
                <hr>
            </div>
            <div class="col-md-3 header-search">
                <i class="fa fa-search"></i>
            </div>
            <div class="col-md-12 header-date">
                Martes 30 de Enero
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 header-nav">
                <a href="#" class="header-link">Inicio</a>
                <a href="#" class="header-link">Noticias</a>
                <a href="#" class="header-link">Cultura</a>
                <a href="#" class="header-link">Opinión</a>
                <a href="#" class="header-link">América Latina</a>
                <a href="#" class="header-link">Reposado</a>
                <a href="#" class="header-link">Más</a>
            </div>
            <hr>
        </div>
    </div>
    <div class="hero">
        <div class="row">
            <div class="col-md-4">
                <div class="hero-news">
                    <h2 class="hero-news-title">Trump ladra, pero no muerde</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hero-news2">
                    <h2 class="hero-news-title2">No apoyan el estatus legal para los "dreamers"</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hero-news3">
                    <h2 class="hero-news-title3">Renegociación del TLCAN</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="featured">
        <div class="row">
            <div class="col-md-12 title">
                <hr>
                <h3>Últimas Noticias</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="featured-news">
                </div>
            </div>
            <div class="col-md-6"><!--columna-2-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="featured-news-small1">
                            <h2>Detrás del triunfo de Macron hubo suerte, habilidad política y el peso de la historia</h2>
                            <p> Emmanuel Macron, el centrista que nunca ha ocupado un cargo de elección popular, logró una rotunda victoria al beneficiarse de un legado histórico y cultural único. Aunque muchos electores querían un cambio,  se sentían consternados por el enojo populista que ha causado radicales cambios políticos en Reino Unido y Estados Unidos.
                                Macron derrotó a la candidata de ultraderecha Marine Le Pen, quien obtuvo un resultado por debajo del 40 por ciento, aunque antes de la elección sus asesores dijeron que un porcentaje menor a esa cantidad sería considerado como un fracaso.</p>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <p class="col-md-12 read">Continuar leyendo</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 title2">
            <hr>
            <h3>Vídeos</h3>
            <hr>
            <div class="featured-news2">
                <h2 class="hero-news-title4">La era Trump desafía al movimiento proinmigrante a reinventarse</h2>
                <h3 class="hero-news-title5">Ver Vídeos</h3>
                <i class="fas fa-play-circle"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 title6">
        <hr>
        <h3>Cultura</h3>
        <h4>Más</h4>
        <hr>
        <div class="title cultura">
            <h5>Instantáneas desde la tierra de la noche perpetua</h5>

     apikey=       b4a688706b10461dac7feec1fd2e3e70
        </div><!--container-->
</body>
</html>