<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-sringsecurity">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/liststylesheet.css">
    <link rel="stylesheet" href="css/liststylesheet.css">
    <link rel="stylesheet" href="css/navbarstylesheet.css">
    <link rel="stylesheet" href="../static/css/navbarstylesheet.css">
    <link rel="stylesheet" href="../static/css/loginstylesheet.css">
    <link rel="stylesheet" href="css/loginstylesheet.css">

</head>
<body>
<div th:replace="base :: navlinks"></div>
<h1>Lost Items List</h1>
<table class="flat-table">
    <tbody>
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Category</th>
        <th>Description</th>
        <th>Status</th>
        <th sec:authorize="hasAnyAuthority('USER','ADMIN')">Edit Form</th>
        <th sec:authorize="hasAuthority('ADMIN')">Action</th>

    </tr>
    <tr th:each="item: ${lostitem}">
        <td><img th:src="${item.image}" width="50" height="50"></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.category}"></td>
        <td th:text="${item.description}"></td>
        <td th:text ="${item.status}"></td>
        <td sec:authorize="hasAnyAuthority('USER','ADMIN')"><a  th:href="@{/edit/{id} (id=${item.id})}">Edit Lost Item</a></td>
        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/addfoundlistitem/{id}(id=${item.id})}"> Change Status </a></td>

    </tr>

    </tbody>
</table>

<div th:replace="base :: js"></div>
</body>
</html>