<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-sringsecurity">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/indexstylesheet.css">
    <link rel="stylesheet" href="css/indexstylesheet.css">
</head>
<body>
<div class="container" th:fragment="navbar">
    <div class="header">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 header-logo">
                <h1>World News</h1>
                <hr>
            </div>
            <div class="col-md-3 header-search">
                <i class="fa fa-search"></i>
                <span class="search"><form id="searchbar" class="nav-link" th:action="@{/searchtopic}" th:object="${searchtopic}" method="post">
                    <input type="text" name="search"/>
                </form>
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 header-nav">
                <a th:href="@{/}" class="header-link">HOME</a>
                <a th:href="@{/cnn}" class="header-link">CNN</a>
                <a th:href="@{/fox}" class="header-link">Fox News</a>
                <a th:href="@{/abc}" class="header-link">ABC</a>
                <a th:href="@{/msnbc}" class="header-link">MSNBC</a>
                <a sec:authorize="hasAnyAuthority('USER','ADMIN')" th:href="@{/selectcategory}" class="header-link">CATEGORY</a>
                <a sec:authorize="hasAnyAuthority('USER','ADMIN')" th:href="@{/mytopiclist}" class="header-link">MY TOPICS</a>
                <a sec:authorize="hasAnyAuthority('USER','ADMIN')" th:href="@{/addmytopic}" class="header-link">ADD TOPIC</a>

                <a th:href="@{/login}" class="header-link"  sec:authorize="isAnonymous()">LOG IN</a>
                <a th:href="@{/logout}" class="header-link" sec:authorize="hasAnyAuthority('USER','ADMIN')">LOG OUT</a>
            </div>
            <hr>
        </div>
    </div>

<div th:each="topic: ${mytopic}">
    <td th:text="${topic.topic}"></td>
</div>
</body>
</html>