<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/regstylesheet.css">
</head>
<body>
<div class="testbox">
    <h1>Registration</h1>

    <form action="/">
        <hr>

        <hr>

        <input type="text" name="name" id="name" placeholder="First Name" required/>
        <input type="text" name="name" id="name" placeholder="Last Name" required/>
        <input type="text" name="name" id="name" placeholder="Email" required/>
        <input type="text" name="name" id="name" placeholder="User Name" required/>
        <input type="password" name="name" id="name" placeholder="Password" required/>


        <a href="#" class="button">Register</a>
    </form>
</div>

<div th:replace="base :: js"></div>
</body>
</html>