<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/regstylesheet.css">
</head>
<body>
<div class="testbox">
    <h1>Registration</h1>

    <form th:action="@{/signup}" th:object="${newusers}" method="post">


        <input type="text" name="firstname" id="firstname" placeholder="First Name"  th:field="*{firstname}"/>
        <input type="text" name="lastname" id="lastname" placeholder="Last Name" th:field="*{lastname}"/>
        <input type="email" name="email" id="email" placeholder="Email" th:field="*{email}"/>
        <input type="text" name="username" id="username" placeholder="User Name" th:field="*{username}"/>
        <input type="password" name="password" id="password" placeholder="Password" th:field="*{password}"/>


        <button type="submit" class="button">Register</button>
    </form>
</div>

<div th:replace="base :: js"></div>
</body>
</html>