<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-sringsecurity">
<head>
    <title>World News</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/indexstylesheet.css">
    <link rel="stylesheet" href="css/indexstylesheet.css">


</head>
<body>
<div class="container" th:replace="index :: navbar">
    </div>
    <div th:each="article: ${article}">

        <span  th:text="${article.author}"></span><br/>
        <span  th:text="${article.title}"></span><br/>
        <span th:text="${article.description}"></span><br/>
        <span th:text="${article.url}"></span><br/>
        <span><img th:src="${article.urlToImage}" width="150" height="150"></span><br/>
        <span  th:text="${article.publishedAt}"></span>



        <a th:href="@{/selectcategory}">Select Category</a>
    </div>
</div>

</body>
</html>